/* U-Connect ----------------------------------------- */
@font-face {
    font-family: 'uconnect';
    src:url('../fonts/uconnect.eot');
    src:url('../fonts/uconnect.eot?#iefix') format('embedded-opentype'),
        url('../fonts/uconnect.svg#uconnect') format('svg'),
        url('../fonts/uconnect.woff') format('woff'),
        url('../fonts/uconnect.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'uconnect';
  /*content: attr(data-icon);*/
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: 'uconnect';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon {
  font-family:    uconnect;
}
.icon-sun:before {
  content: "\e000";
}
.icon-windy:before {
  content: "\e001";
}
.icon-cloudy:before {
  content: "\e002";
}
.icon-weather:before {
  content: "\e003";
}
.icon-cloudy-2:before {
  content: "\e004";
}
.icon-rainy:before {
  content: "\e005";
}
.icon-rainy-2:before {
  content: "\e006";
}
.icon-lightning:before {
  content: "\e007";
}
.icon-snowy:before {
  content: "\e008";
}
.icon-snowy-2:before {
  content: "\e009";
}
.icon-weather-2:before {
  content: "\e00a";
}
.icon-star:before {
  content: "\e00b";
}
.icon-star-2:before {
  content: "\e00c";
}
.icon-thumbs-up:before {
  content: "\e00d";
}
.icon-thumbs-down:before {
  content: "\e00e";
}
.icon-chat:before {
  content: "\e00f";
}
.icon-comment:before {
  content: "\e010";
}
.icon-user:before {
  content: "\e011";
}
.icon-users:before {
  content: "\e012";
}
.icon-user-add:before {
  content: "\e013";
}
.icon-bookmark:before {
  content: "\e014";
}
.icon-bookmarks:before {
  content: "\e015";
}
.icon-house:before {
  content: "\e016";
}
.icon-search:before {
  content: "\e017";
}
.icon-cog:before {
  content: "\e018";
}
.icon-zoom-out:before {
  content: "\e019";
}
.icon-zoom-in:before {
  content: "\e01a";
}
.icon-flag:before {
  content: "\e01b";
}
.icon-calendar:before {
  content: "\e01c";
}
.icon-clipboard:before {
  content: "\e01d";
}
.icon-graduation:before {
  content: "\e01e";
}
.icon-megaphone:before {
  content: "\e01f";
}
.icon-mail:before {
  content: "\e020";
}
.icon-directions:before {
  content: "\e021";
}
.icon-briefcase:before {
  content: "\e022";
}
.icon-tag:before {
  content: "\e023";
}
.icon-coffee:before {
  content: "\e024";
}
.icon-clock:before {
  content: "\e025";
}
.icon-book:before {
  content: "\e026";
}
.icon-drawer:before {
  content: "\e027";
}
.icon-upload:before {
  content: "\e028";
}
.icon-bell:before {
  content: "\e029";
}
.icon-key:before {
  content: "\e02a";
}
.icon-gauge:before {
  content: "\e02b";
}
.icon-earth:before {
  content: "\e02c";
}
.icon-database:before {
  content: "\e02d";
}
.icon-archive:before {
  content: "\e02e";
}
.icon-bucket:before {
  content: "\e02f";
}
.icon-calendar-2:before {
  content: "\e030";
}
.icon-flow-cascade:before {
  content: "\e031";
}
.icon-flow-tree:before {
  content: "\e032";
}
.icon-flow-branch:before {
  content: "\e033";
}
.icon-browser:before {
  content: "\e034";
}
.icon-screen:before {
  content: "\e035";
}
.icon-phone:before {
  content: "\e036";
}
.icon-tree-view:before {
  content: "\e037";
}
.icon-cup:before {
  content: "\e038";
}
.icon-location:before {
  content: "\e039";
}
.icon-vcard:before {
  content: "\e03a";
}
.icon-pie:before {
  content: "\e03b";
}
.icon-info:before, .messageBar:before {
  content: "\e03c";
}
.icon-help:before {
  content: "\e03d";
}
.icon-light-bulb:before {
  content: "\e03e";
}
.icon-warning:before, .messageBar.alert:before {
  content: "\e03f";
}
.icon-cross:before, .messageBar.error:before {
  content: "\e040";
}
.icon-cross-2:before {
  content: "\e041";
}
.icon-checkmark:before, .messageBar.success:before {
  content: "\e042";
}
.icon-plus:before {
  content: "\e043";
}
.icon-minus:before {
  content: "\e044";
}
.icon-arrow-down:before {
  content: "\e045";
}
.icon-arrow-up:before {
  content: "\e046";
}
.icon-arrow-left:before {
  content: "\e047";
}
.icon-arrow-right:before {
  content: "\e048";
}
.icon-arrow-right-2:before {
  content: "\e049";
}
.icon-arrow-left-2:before {
  content: "\e04a";
}
.icon-reply:before {
  content: "\e04b";
}
.icon-popup:before {
  content: "\e04c";
}
.icon-link:before {
  content: "\e04d";
}
.icon-lock-open:before {
  content: "\e04e";
}
.icon-lock:before {
  content: "\e04f";
}
.icon-layout:before {
  content: "\e050";
}
.icon-share:before {
  content: "\e051";
}
.icon-menu:before {
  content: "\e052";
}
.icon-cart:before {
  content: "\e053";
}
.icon-pencil:before {
  content: "\e054";
}
.icon-disk:before {
  content: "\e055";
}
.icon-paperclip:before {
  content: "\e056";
}
.icon-android:before {
  content: "\e057";
}
.icon-folder:before {
  content: "\e058";
}
.icon-file-zip:before {
  content: "\e059";
}
.icon-document-alt-stroke:before {
  content: "\e05a";
}
.icon-newspaper:before {
  content: "\e05b";
}
.icon-text:before {
  content: "\e05c";
}
.icon-pictures:before {
  content: "\e05d";
}
.icon-video:before {
  content: "\e05e";
}
.icon-music:before {
  content: "\e05f";
}
.icon-file-word:before {
  content: "\e060";
}
.icon-file-excel:before {
  content: "\e061";
}
.icon-file-pdf:before {
  content: "\e062";
}
.icon-daniel-bruce:before {
  content: "\e063";
}
/* CyberSale fonts ----------------------------------------- */
@font-face {
    font-family: 'cybersale';
    src: url('../fonts/cybersale.eot');
    src: url('../fonts/cybersale.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cybersale.svg#myfontregular') format('svg'),
         url('../fonts/cybersale.woff') format('woff'),
         url('../fonts/cybersale.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.iconCS, [class*="iconCS-"]{
  font-family: "cybersale";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.iconCS-wanted:before{
  content: 'w';
}
.iconCS-toy:before{
  content: 'T';
}
.iconCS-ticket:before{
  content: 't';
}
.iconCS-sport:before{
  content: 's';
}
.iconCS-realestate:before{
  content: 'r';
}
.iconCS-pet:before{
  content: 'p';
}
.iconCS-movie:before{
  content: 'M';
}
.iconCS-misc:before{
  content: 'm';
}
.iconCS-garage:before{
  content: 'g';
}
.iconCS-furniture:before{
  content: 'F';
}
.iconCS-free:before{
  content: 'f';
}
.iconCS-electronic:before{
  content: 'e';
}
.iconCS-clothing:before{
  content: 'C';
}
.iconCS-children:before{
  content: 'c';
}
.iconCS-carpool:before{
  content: 'z';
}
.iconCS-vehicle:before{
  content: 'v';
}
.iconCS-art:before{
  content: 'A';
}
.iconCS-appliance:before{
  content: 'a';
}
.iconCS-categories:before{
  content: 'Q';
}
.iconCS-camera:before{
  content: '1';
}