/**
 * styles.css
 * A tightly controlled, responsive layout with a mobile-first approach
 * Daniel Stout
 * 2015-05-19
 */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * Fonts
 */
@font-face {
  font-family: 'roboto-regular';
  src:url('../fonts/roboto-regular.eot');
  src:url('../fonts/roboto-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto-regular.svg#uconnect') format('svg'),
    url('../fonts/roboto-regular.woff') format('woff'),
    url('../fonts/roboto-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotocondensed-regular';
  src:url('../fonts/robotocondensed-regular.eot');
  src:url('../fonts/robotocondensed-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/robotocondensed-regular.svg#uconnect') format('svg'),
    url('../fonts/robotocondensed-regular.woff') format('woff'),
    url('../fonts/robotocondensed-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotocondensed-bold';
  src:url('../fonts/robotocondensed-bold.eot');
  src:url('../fonts/robotocondensed-bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/robotocondensed-bold.svg#uconnect') format('svg'),
    url('../fonts/robotocondensed-bold.woff') format('woff'),
    url('../fonts/robotocondensed-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/**
 * Page Styles
 */
body {
  background-color: #fff;
  font-family: 'roboto-regular';
  -webkit-font-smoothing: antialiased;
}

/**
 * Recent Listings
 */
.sectionHead {
  font-family: 'robotocondensed-bold';
  text-transform: uppercase;
  font-size: 1.675em;
}
.recent {
  background-color: #fff;
  border: 1px solid #bec4ce;
  border-top-color: #bbb;
  margin: 11px;
}
.recent header {
  margin: 22px 0 35px 11px;
}

/**
 * Items
 */
.item {
  border-top: 1px solid #dedede;
  position: relative;
  height: 150px;
}
.item figure {
  width: 120px;
  height: 80px;
  display: block;
  position: absolute;
  top: 11px;
  left: 11px;
}
.item figure img {
  display: block;
  margin: 0 auto;
  width: auto;
  height: 76px;
  padding: 2px;
}
.item div[class^="iconCS-"] {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 101px;
  left: 11px;
}
[class^="iconCS-"]:before {
  font-size: 28px;
  color: #fff;
  position: absolute;
  bottom: 1px;
  left: 2px;
}
.item h3 {
  font-family: 'robotocondensed-regular';
  font-size: 1.675em;
  margin: 0;
  padding: 0;
}
.item span {
  display: block;
}
.itemInfo {
  position: absolute;
  top: 5px;
  left: 141px;
}
.itemDate {
  font-family: 'robotocondensed-bold';
  font-size: 0.8em;
  color: #bba89d;
  margin-top: 8px;
}
.itemPrice {
  margin-top: 11px;
}
.itemDescription {
  font-size: 0.8em;
  color: #6d6f6d;
  margin-top: 8px;
}
.itemLink {
  margin-top: 8px;
}
.itemLink a {
  font-size: 0.9em;
  color: #1674b8;
  text-decoration: none;
}

/**
 * Item Type Styles
 */
.appliance h3 {
  color: #18a1ba;
}
.appliance figure, .appliance div[class^="iconCS-"] {
  background-color: #18a1ba;
}
.pet h3 {
  color: #96bf5f;
}
.pet figure, .pet div[class^="iconCS-"] {
  background-color: #96bf5f;
}

/**
 * Responsive styles for tablet and desktop
 */
@media (min-width: 597px) and (max-width: 1183px) {
  .item div[class^="iconCS-"] {
    top: 11px;
  }
  .item figure {
    left: 62px;
  }
  .itemDate {
    position: absolute;
    top: 3px;
    right: 11px;
  }
  .itemPrice {
    margin-top: 8px;
  }
  .itemInfo {
    position: relative;
    left: 193px;
    width: 68%;
  }
}
@media (min-width: 1184px) {
  .item {
    height: 179px;
  }
  .item div[class^="iconCS-"] {
    top: 11px;
    width: 50px;
    height: 50px;
  }
  [class^="iconCS-"]:before {
    font-size: 36px;
  }
  .item figure {
    left: 72px;
    width: 214px;
    height: 157px;
  }
  .item figure img {
    height: 153px;
  }
  .itemDate {
    position: absolute;
    top: 3px;
    right: 11px;
  }
  .itemPrice {
    margin-top: 26px;
    font-size: 1.2em;
  }
  .itemDescription {
    margin-top: 26px;
  }
  .itemLink {
    margin-top: 26px;
  }
  .itemInfo {
    position: relative;
    left: 297px;
    width: 74%;
  }
}
